@{
    ViewData["Title"] = "Lista de tareas";
}

<section class="usuario">
    <img src="@ViewBag.Usuario.Foto" alt="foto"/>
    <h3>@ViewBag.Usuario.Nombre @ViewBag.Usuario.Apellido</h3>
    <h4>@ViewBag.Usuario.Username</h4>
</section>
<section class action="tareas">
    @if(ViewBag.Eliminadas)
    {
        <h2>Tareas eliminadas:</h2>
    }else
    {
        <h2>Tareas:</h2>
    }
        <div>
        @foreach(Tarea tarea in ViewBag.tareas)
        {
            <p>@tarea.Titulo</p>
            <p>@tarea.Descripcion</p>
            <p>@tarea.FechaLimite</p>
            <a href="@Url.Action("EditarTarea", "Home", new { idTarea = tarea.Id })">Modificar</a>
            @if(ViewBag.Eliminadas)
            {
                <a href="@Url.Action("EliminarRecuperarTarea", "Home", new { idTarea = tarea.Id, EliminarRecuperar = false })">Recuperar</a>
            }else
            {
                <a href="@Url.Action("EliminarRecuperarTarea", "Home", new { idTarea = tarea.Id, EliminarRecuperar = true })">Eliminar</a>
            }
            @if (!tarea.Finalizada)
            {
                <a href="@Url.Action("FinalizarTarea", "Home", new { idTarea = tarea.Id })">Finalizar</a>
            }else
            {
                <p>Tarea finalizada</p>
            }
        }
        </div>
</section>